/bundleradar
*.test
/coverage.out
.DS_Store
/testdata/angular-esbuild/node_modules/
/testdata/angular-esbuild/.angular/
/testdata/angular-esbuild/dist/
/testdata/angular-esbuild/.vscode/
/testdata/angular-esbuild/bundleradar-validation/
*.map
.vscode/
/testdata/nx-workspace/node_modules/
/testdata/nx-workspace/.nx/
/testdata/nx-workspace/.angular/
/testdata/nx-workspace/tmp/
/testdata/nx-workspace/dist/
.nx/
node_modules/
/.superpowers/
/.bundleradar/
/bin/
/testdata/vite-app/node_modules/
/testdata/vite-app/dist/
/testdata/webpack-app/node_modules/
/testdata/webpack-app/dist/
